html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container_detail_principal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20% 0 20%; /* Ajusta el margen según sea necesario */
  }
  
  .container_detail_principal_header {
    display: flex;
    justify-content: space-between; /* Ajusta para que los elementos estén en los bordes */
    align-items: center;
    gap: 20px;
  }
  
  .container_detail_principal_header_title {
    font-size: 17px;
    font-weight: 600;
    color: #000;
  }
  
  .container_detail_principal_header_descripcion {
    font-size: 17px;
    font-weight: 600;
    color: #0a5d52;
  }

  /* RENUEW */
  .container_renuew{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
  .bg-login-image {
    background: url("./assets/images/Logo1.png");
    background-position: center;
    background-size: cover;
    animation: fadeIn 2s ease-in-out infinite alternate; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
  }

  .p-dialog .p-dialog-titlebar-close {
    display: none;
  }
  @media (max-width: 767px) {
    .bg-login-image {
      display: none; /* Oculta la imagen en dispositivos móviles */
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }